<a href="https://colab.research.google.com/github/CindyMG/Core-II-Wk-1/blob/main/Core_II_W1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing our python libraries

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Loading our datasets

In [2]:
# now, let us load our datasets onto our notebook
#
fifa_rank = pd.read_csv('/content/fifa_ranking.csv')
results = pd.read_csv('/content/results.csv')

In [3]:
#let us preview our datasets
fifa_rank.head()

   rank country_full  ... confederation   rank_date
0     1      Germany  ...          UEFA  1993-08-08
1     2        Italy  ...          UEFA  1993-08-08
2     3  Switzerland  ...          UEFA  1993-08-08
3     4       Sweden  ...          UEFA  1993-08-08
4     5    Argentina  ...      CONMEBOL  1993-08-08

[5 rows x 16 columns]

In [5]:
results.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

With the shape function, we can identify the number of rows and columns in our datasets respectively.

In [4]:
fifa_rank.shape

(57793, 16)

In [6]:
results.shape

(40839, 9)

##Merging our datasets

In [8]:
#first, let us rename the column "country_full" in the 'Fifa_ranking' dataset 
# to "country" so as to have a similar field name as the dataset 'Results'
#
fifa_rank.rename({'country_full':'country'}, axis=1, inplace=True)
fifa_rank.head()

   rank      country  ... confederation   rank_date
0     1      Germany  ...          UEFA  1993-08-08
1     2        Italy  ...          UEFA  1993-08-08
2     3  Switzerland  ...          UEFA  1993-08-08
3     4       Sweden  ...          UEFA  1993-08-08
4     5    Argentina  ...      CONMEBOL  1993-08-08

[5 rows x 16 columns]

In [14]:
# Now, we can easily merge our datasets on the common column "country"
#
fifa = pd.merge(fifa_rank,results, how='inner', on='country')
fifa.head()

   rank  country country_abrv  ...  tournament       city  neutral
0     1  Germany          GER  ...    Friendly  Karlsruhe    False
1     1  Germany          GER  ...    Friendly   Duisburg    False
2     1  Germany          GER  ...    Friendly      Kleve    False
3     1  Germany          GER  ...    Friendly  Stuttgart    False
4     1  Germany          GER  ...    Friendly    Dresden    False

[5 rows x 24 columns]

#Checking our dataset

In [10]:
#how many rows and columns does our merged dataset have?
#
fifa.shape

(10246510, 24)

In [17]:
#checking out the descriptive statistics
#
fifa.describe()

               rank  total_points  ...    home_score    away_score
count  1.024651e+07  1.024651e+07  ...  1.024651e+07  1.024651e+07
mean   6.916505e+01  1.723781e+02  ...  1.734292e+00  1.179052e+00
std    5.084864e+01  3.363458e+02  ...  1.733112e+00  1.381282e+00
min    1.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
25%    2.500000e+01  0.000000e+00  ...  1.000000e+00  0.000000e+00
50%    6.100000e+01  0.000000e+00  ...  1.000000e+00  1.000000e+00
75%    1.050000e+02  1.966300e+02  ...  2.000000e+00  2.000000e+00
max    2.090000e+02  1.775030e+03  ...  3.100000e+01  2.100000e+01

[8 rows x 14 columns]

#Cleaning the dataset

In [11]:
#checking info on the dataset
fifa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10246510 entries, 0 to 10246509
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   rank                     int64
 1   country                  object
 2   country_abrv             object
 3   total_points             float64
 4   previous_points          int64
 5   rank_change              int64
 6   cur_year_avg             float64
 7   cur_year_avg_weighted    float64
 8   last_year_avg            float64
 9   last_year_avg_weighted   float64
 10  two_year_ago_avg         float64
 11  two_year_ago_weighted    float64
 12  three_year_ago_avg       float64
 13  three_year_ago_weighted  float64
 14  confederation            object
 15  rank_date                object
 16  date                     object
 17  home_team                object
 18  away_team                object
 19  home_score               int64
 20  away_score               int64
 21  tournament               object
 22  city                     object
 23  neutral                  bool
dtypes: bool(1), float64(9), int64(5), object(9)
memory usage: 1.8+ GB

Onto data cleaning:

1. Dropping unnecessary columns

In [18]:
# currently, we have 24 columns
# there are few columns that are irrelevant to our study hence we will drop them

fifa.drop(['rank_date'], axis=1, inplace=True)

In [19]:
fifa.shape
#Great! We have one less column. (We previously had 24 columns, remember?)

(10246510, 23)

2. Removing null values.

In [20]:
# let us check for any null values or missing data
#
fifa.isnull().sum()

# Great! Our dataset has no null or missing values.

rank                       0
country                    0
country_abrv               0
total_points               0
previous_points            0
rank_change                0
cur_year_avg               0
cur_year_avg_weighted      0
last_year_avg              0
last_year_avg_weighted     0
two_year_ago_avg           0
two_year_ago_weighted      0
three_year_ago_avg         0
three_year_ago_weighted    0
confederation              0
date                       0
home_team                  0
away_team                  0
home_score                 0
away_score                 0
tournament                 0
city                       0
neutral                    0
dtype: int64

3. Removing duplicates.

In [23]:
fifa.drop_duplicates(subset=None, keep='first', inplace=True)
fifa.shape

#Compared to our dataset before removing the duplicates, now we have less rows

(9821871, 23)

#Polynomial regression

##Defining the question

###a) Specifying the question

You have been recruited as a football analyst in a company - Mchezopesa Ltd and tasked to accomplish the task below.

A prediction result of a game between team 1 and team 2, based on who's home and who's away, and on whether or not the game is friendly (include rank in your training).

**Approach 1: Polynomial approach**

What to train given:

Rank of home team
Rank of away team
Tournament type
Model 1: Predict how many goals the home team scores.

Model 2: Predict how many goals the away team scores.

###b) Defining the metric for success

###c) Understanding the context

###d) Recording the experimental design

###e) Data Relevance